---
import BaseHead from '../components/BaseHead.astro';

const title = "Contact Us - BackofNapkin.co";
const description = "Contact us to ask questions about any of the calculators with a simple form.";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <!-- or with SEO component: -->
    <!-- <SEO title={title} description={description} /> -->
  </head>
<body>
Have ideas for a new calculator? Questions? Send me a message using the form below. 
    <div class="container mx-auto px-4 py-8">
      <!-- Google Form iframe goes here -->
      <div class="w-full">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJE86owMxlwHzRbh3TRpSUo_1uWaTblIFgVE-TMjd3pfuVPg/viewform?embedded=true" width="640" height="678" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </body>
</html>
