---
import IndexPage from "../layouts/IndexPage.astro";

const frontmatter = {
  comment: false,
  donate: false
};

const title = "Contact Us - BackofNapkin.co";
const description = "Contact us to ask questions about any of the calculators with a simple form.";
---

<IndexPage frontmatter={frontmatter} title={title} description={description}>
  <div class="prose prose-lg mx-auto">
    <h1>{title}</h1>
    <p>Have ideas for a new calculator? Questions? Send me a message using the form below.</p>
    
    <div class="mt-8">
      <iframe 
        src="https://docs.google.com/forms/d/e/1FAIpQLScJE86owMxlwHzRbh3TRpSUo_1uWaTblIFgVE-TMjd3pfuVPg/viewform?embedded=true" 
        width="100%" 
        height="678" 
        frameborder="0" 
        marginheight="0" 
        marginwidth="0"
        class="w-full"
      >
        Loading…
      </iframe>
    </div>
  </div>
</IndexPage>
