---
import IndexPage from "../layouts/IndexPage.astro";

const title = "Contact Us | BackOfNapkin.co";
const description = "Get in touch about our business calculators";

---

<IndexPage title={title} description={description}>
  <!-- Your content goes here. It will automatically be in the main content area with sidebar -->
  <h1 class="text-3xl font-bold mb-6">Contact Us</h1>
    
  <p>
    Have questions about our calculators? Want to suggest a new tool? We'd love to hear from you.
  </p>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJE86owMxlwHzRbh3TRpSUo_1uWaTblIFgVE-TMjd3pfuVPg/viewform?embedded=true" width="640" height="678" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</IndexPage>
