---
import IndexPage from "../layouts/IndexPage.astro";

const pageTitle = {
  title: "Contact Us | BackofNapkin.co",
  description: "Get in touch about our business calculators using a simple contact form."
};
---

<IndexPage frontmatter={frontmatter}>

<h1>Contact Us</h1>

<p>Have questions about the calculators? Want to suggest a new tool or partner? Reach out below.</p>


<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJE86owMxlwHzRbh3TRpSUo_1uWaTblIFgVE-TMjd3pfuVPg/viewform?embedded=true" width="640" height="678" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</IndexPage>
