---
---
<button type="button" id="menu-icon" class="header-btn" title="Menu">
  <i class="ri-menu-fill"></i>
</button>
<button type="button" id="menu-icon-close" class="header-btn hidden" title="Menu">
  <i class="ri-close-fill"></i>
</button>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const menuButton = document.getElementById("menu-icon");
    const closeButton = document.getElementById("menu-icon-close");
    const mobileMenu = document.getElementById("mobile-menu");
    function toggleMenu() {
      menuButton.classList.toggle("hidden");
      closeButton.classList.toggle("hidden");
      mobileMenu.classList.toggle("hidden");
    }
    menuButton.addEventListener("click", toggleMenu);
    closeButton.addEventListener("click", toggleMenu);
  });
</script>
