---
---
<button type="button" id="menu-icon" class="header-btn" title="Menu">
  <i class="ri-menu-fill"></i>
</button>
<button type="button" id="menu-icon-close" class="header-btn hidden" title="Menu">
  <i class="ri-close-fill"></i>
</button>
<script is:inline>
  const menuBtn = document.querySelector("#menu-icon");
  if (menuBtn) {
    menuBtn.onclick = function() {
      const closeBtn = document.querySelector("#menu-icon-close");
      const mobileMenu = document.querySelector("#mobile-menu");
      if (closeBtn && mobileMenu) {
        menuBtn.classList.add("hidden");
        closeBtn.classList.remove("hidden");
        mobileMenu.classList.remove("hidden");
      }
    }
  }

  const closeBtn = document.querySelector("#menu-icon-close");
  if (closeBtn) {
    closeBtn.onclick = function() {
      const menuBtn = document.querySelector("#menu-icon");
      const mobileMenu = document.querySelector("#mobile-menu");
      if (menuBtn && mobileMenu) {
        closeBtn.classList.add("hidden");
        menuBtn.classList.remove("hidden");
        mobileMenu.classList.add("hidden");
      }
    }
  }
</script>
