---
interface Props {
  id: string;
  title: string;
  className?: string;
}

const { id, title, className = "" } = Astro.props;
---

<div class={`max-w-3xl mx-auto ${className}`}>
  <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
    <iframe
      src={`https://www.youtube.com/embed/${id}`}
      title={title}
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="w-full h-full"
    />
  </div>
</div>

<style>
  /* Fallback for browsers that don't support aspect-ratio */
  .aspect-w-16.aspect-h-9 {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .aspect-w-16.aspect-h-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
